<form class="form-horizontal form-complex">
    <div class="control-group">
        <label class="control-label" for="apps_discord_url">URL</label>
        <div class="controls">
            <input type="text" class="input-xlarge" name="action.apps_discord.param.url" id="apps_discord_url" placeholder="https://discordapp.com/api/webhooks/webhookid" />
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <span class="help-block" style="display: block; position: static; width: auto; margin-left: 0;">
                Specified URL to send JSON payload formatted for Discord via HTTP POST
            </span>
        </div>
    </div>
</form>