<form class="form-horizontal form-complex">
    <div class="control-group">
        <label class="control-label" for="alerts_discord_title">Alert Title</label>
        <div class="controls">
            <input type="text" class="input-xlarge" name="action.alerts_discord.param.title" id="alerts_discord_title" placeholder="Title of your alert" />
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <span class="help-block" style="display: block; position: static; width: auto; margin-left: 0;">
                Title of the alert that is sent in the message
            </span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="alerts_discord_url">URL</label>
        <div class="controls">
            <input type="text" class="input-xlarge" name="action.alerts_discord.param.url" id="alerts_discord_url" placeholder="https://discordapp.com/api/webhooks/webhookid" />
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <span class="help-block" style="display: block; position: static; width: auto; margin-left: 0;">
                Specified URL to send JSON payload formatted for Discord via HTTP POST
            </span>
        </div>
    </div>
</form>